
.container {
    display: grid;
    background-image: url('https://i.ibb.co/PQ34VY1/Fondo-Vansa.png');
    background-repeat: no-repeat;
    background-size: cover;
    /* gap: 10px; */
    grid-template-rows:     3fr 1fr 1fr 3fr 1fr;
    grid-template-columns:  1fr 3fr 1fr;
    height: 100vh;
    width: 100vw;  
}

.buttons{
    color: white;
    background-color: rgb(20, 51, 114);
    border-radius: 50px;
    border: 2px solid red;  
    /* justify-content: center; 
    align-items: center; 

    text-align: center;
    align-content: center;  */
}

.buttonContainer{  
    grid-column: 3/4;
    grid-row: 5/6;
    z-index: 2;
}

.welcome {   
    grid-column: 2/3;
    grid-row: 1/2; 
    align-self: end;
}

.manImage{
    background-color: green; 
    grid-column: 1/2;
    grid-row: 2/6;  
}

.womanImage{
    background-color: pink; 
    grid-column: 3/4;
    grid-row: 2/6;  
}

.test{
    grid-column: 2/3;
    grid-row: 2/3;  
}

.name{
    grid-column: 2/3;
    grid-row: 3/4;  
    text-align: center;
    align-content: center;
}

.vacant{
    background-color: gray; 
    grid-column: 2/3;
    grid-row: 4/5;  
}

.welcome h1{
    color: rgb(20, 51, 114);
    margin: 0px;
    font-family: "Quicksand", sans-serif;
    font-size: 45px; 
}

.test h1{
    color: rgb(190, 128, 105);
    margin: 0px;
    font-family: "Quicksand", sans-serif;
    font-size: 60px; 
}

.name h1{
    color: white;
    margin: 0px;
    font-family: "Quicksand", sans-serif;
    font-size: 45px; 
}

.containerName{
    display: inline-block;
    padding: 2px 20px;
    border-radius: 50px;
    background-color: rgb(190, 128, 105)
}
